.navbar-content {
    width: 85%;
    margin: 0 auto;

}

.navbar-brand-custom {
    color: black;
    transition: color ease-in-out 0.2s;

}

.navbar-brand-custom.scrolled {
    color: white;
}

.navbar-content .nav-item {
    margin: 0 auto;
}

.navbar-content .nav-item .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.fixed-top {
    background: (0, 0, 0, 0.3) !important;
    transition: opacity 0.15s linear;
}

.fixed-top.scrolled {
    background-color: black !important;
    transition: background-color 150ms linear;

}

.navbar-link {
    color: black;
    transition: color ease-in-out 0.15s;
}

.navbar-link.scrolled {
    color: white;
}

.title {
    height: 100vh;
    display: flex;
    margin: 0;
    background-color: gray;
}

.title-text-container {
    margin-top: 45vh;
}



@media (min-width: 375px) {
    .title-text {
        font-size: 1.75rem;
    }
}

@media (min-width: 544px) {
    .title-text {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .title-text {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    .title-text {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    .title-text {
        font-size: 4rem;
    }
}

.section-2 {
    min-height: 95vh;
    display: flex;
}

.section2-text {
    margin-top: auto;
    margin-bottom: auto;
}

.button-aboutus {
    margin-top: 30px;
    background-color: black;
    color: white;
}

.button-aboutus:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.button-aboutus-link {
    text-decoration: none;
    color: white;
}

.button-aboutus:hover .button-aboutus-link:hover {
    color: black;
    text-decoration: none;
}

.button-aboutus-link .button-aboutus:hover {
    color: black;
}

.footer {
    min-height: 30vh;
    background-color: black;
    display: flex;
    color: white;
}

.footer-section {
    width: 100%;
}

.navigation-t {
    margin-left: 100px;

}

.navigation-link {
    text-decoration: none;
    color: white;
    text-align: left;
    margin-left: 100px;
    margin-right: auto;
}

.navigation-link:hover {
    text-decoration: none;
    color: white;
}


.aboutus {
    height: 85vh;
    display: flex;
    margin: 0;
    background-color: gray;
}