html{
    overflow-x: hidden;
}

/* Navbar */
.navbar-content {
    width: 85%;
    margin: 0 auto;

}

.navbar-brand-custom {
    color: black;
    transition: color ease-in-out 0.1s;

}

.navbar-toggler-icon.scrolled {
    color: white;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
    border: none;
    outline: none;
    box-shadow: none;
}



.navbar-brand-custom.scrolled {
    color: white;
    transition: color ease-in-out 0.1s;
}

.navbar-content .nav-item {
    margin: 0 auto;
}

.navbar-content .nav-item .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.fixed-top {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 100ms linear;
}

.fixed-top.scrolled {
    background-color: black !important;
    transition: background-color 100ms linear;

}

.navbar-link {
    color: black;
    transition: color ease-in-out 0.1s;
}

.navbar-link.scrolled {
    color: white;
}

/*----Navbar END----*/

/*-----FOOTER----*/
.footer {
    min-height: 30vh;
    height: auto;
    background-color: black;
    display: flex;
    color: white;
}

.footer-section {
    width: 100%;
}

.navigation-t {
    margin-left: 40%;
    margin-right: auto;

}

.navigation-link {
    text-decoration: none;
    color: white;
    text-align: left;
    -moz-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    
}
.navigation-links{
    margin-left: 40%;
    margin-right: auto;
}

.navigation-link:hover {
    text-decoration: none;
    color: #3b89ac;
}

/*-----FOOTER END---*/

/*-------Home-----*/
.title {
    height: 100vh;
    display: flex;
    margin: 0;
    background-image: url("/assets/matt-hardy-6ArTTluciuA-unsplash.jpg");
    background-position: center;
    color: whitesmoke;
}

.title-text-container {
    margin-top: 40vh;
    margin-bottom: auto;
}


@media (min-width: 280px) {
    .title-text {
        font-size: 1.75rem;
    }

    .memberphoto {
        height: 200px;
    }
    .wrap_mission{
        margin-left:0px;
    }
}

@media (min-width: 375px) {
    .title-text {
        font-size: 1.75rem;
    }

    .memberphoto {
        height: 250px;
    }
    .wrap_mission{
        margin-left:0px;
    }
}

@media (min-width: 544px) {
    .title-text {
        font-size: 2rem;
    }

    .memberphoto {
        height: 300px;
    }
    .wrap_mission{
        margin-left:0px;
    }
}

@media (min-width: 768px) {
    .title-text {
        font-size: 2.5rem;
    }

    .memberphoto {
        height: 325px;
    }
    .wrap_mission{
        margin-left:0px;
    }
}

@media (min-width: 992px) {
    .title-text {
        font-size: 3rem;
    }

    .memberphoto {
        height: 350px;
    }
    .wrap_mission{
        margin-left:0px;
    }
}

@media (min-width: 1200px) {
    .title-text {
        font-size: 4rem;
    }

    .memberphoto {
        height: 400px;
    }
    .wrap_mission{
        margin-left:0px;
    }
}

.section-2-about {
    height: auto;
    min-height: 60vh;
    display: flex;
}

.section2-text-about {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.button-aboutus {
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 0;
}

.button-aboutus:hover {
    background-color: black;
    color: White;
    border-color: white;
}

.section-3-wavenergy{
    height: auto;
    min-height: 60vh;
    display: flex;
    background-image: url("/assets/wavenergy.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
    color: whitesmoke;
}

.section3-text-wavenergy{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}



/*---ABOUT US---*/

.aboutus {
    height: auto;
    min-height: 50vh;
    display: flex;
    margin: 0;
    background-color: gray;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.section-2-mission {
    height: auto;
    min-height: 60vh;
    display: flex;
    
    
}

.section2-text-mission {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}



.section-3 {
    display: flex;
    height: auto;
    background-color: whitesmoke;
}


.section3-text {
    margin-top: 5%;
}


.membername {
    font-size: 1.25rem;
    margin: 0;
}

.memberrole {
    font-size: 0.75rem;
    padding: 0;
}

.socialicon {
    color: black;
    font-size: 1.25rem;
}


#memberCarousel {
    padding-left: 8%;
    padding-right: 8%;
    height: auto;
}

.carousel-inner {
    margin: 2%;
    width: auto;
    padding-bottom: 5%;
}

.memberphotodiv {
    text-align: center;

}


.carousel-control-next,
.carousel-control-prev {
    width: 10%;
}
